* {
  box-sizing: border-box;
}

body {
  margin: 30px;
}

form {
  border: 1px solid #333;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 15%;
  margin-bottom: 3%;
}

.input-group {
  display: flex;
  margin-bottom: 10px;
}

label {
  width: 100px;
}

input,
select,
textarea {
  flex: 1;
  padding: 3px 5px;
}

.submit-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

button {
  width: 100px;
  margin: 0 auto;
  background-color: darkblue;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  margin-top: 8.5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white;

}

.align-center {
  display: flex;
  align-items: center;
}

.inline-flex {
  display: inline-flex;
}

form {
  padding: 20px 0;
  max-width: 500px;
  border-bottom: 1px solid #ccc;
  margin-left: 33%;
}

.search {
  display: flex;
  outline: 1px solid #cccccc;
}

.search > input {
  flex-grow: 1;
  border: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.search > input:focus {
  outline: none;
}

.search > button {
  padding: 0.8rem 2rem;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  background: #cccccc;
}

div.content-box{
  margin-top: 20px;
  text-align: center;
  color: white;
  margin-bottom: 10%;
}

div.content-box2{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
   Geneva, Verdana, sans-serif;
}

div.container2{
border: 5px dotted darkred;
background-color: darkred;
text-align: center;
color: white;
margin-bottom: 1%;
}

header{
position: fixed;
background-color: darkred;
text-align: center; 
top: 0%;
left: 0;
width: 100%;
z-index: 999;
}

nav{
background-color: white;
display: flex;
flex-direction: row;
flex: 1;

}

ul{
text-align: center;
display: flex;
flex-direction: row;
flex: 4;
}

li{
display: inline-block;
width: 190px;
line-height: 3em;
font-family: Arial, Helvetica, sans-serif;
font-variant: small-caps;
flex: 1;

}

.bar li.has-dropdown:hover .dropdown {
display: block;
}

li a:hover{
background-color: darkgrey;

}
.dropdown {
  background-color: goldenrod;
  padding: 0;
  list-style: none;
  display: none;
  width: 170px;
  margin-left: 70px;
}


a{
color: dark blue;
text-decoration: none;
display: block;
margin-left: 19%;
font-size: larger;

}


.containerb{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
border-style: inset;
margin-bottom: 5%;
margin-top: 5%;
}
.container2{
    border: 5px dotted darkred;
    background-color: darkred;
    margin-top: 5%;
}

/*======================

Media Queries

======================*/

/*phones*/
@media screen and (min-width: 0px) and (max-width: 470px){
body{
  background-color: black;
  margin-top: 20%;
}

header h1{
  padding: .25em;
  text-align: center;
  font-size: small;
}

header h2{
font-size: smaller;
}

nav{
  font-size: 0.6em;
  width: 80%;
  margin: 0 auto;
}
nav ul{
  margin: 0;
  padding: .1em;
}

div.content-box{
  margin-top: 20px;
  text-align: center;
  color: goldenrod;
  font-size: small;
}

nav li{
  background-color: black;
  border-radius: 1em;
  list-style-type: none;
  width: 100%;
  margin-bottom: 1em;
  text-align: center;
  font-size: smaller;
}
.header-img{
  margin-top: 10em;
  height: 10% ;
}

a#next{
  color: dark blue;
  text-decoration: none;
  display: block;
  margin-left: 19%;
  font-size: small;

}

a#prev{
color: dark blue;
text-decoration: none;
display: block;
margin-left: 19%;
font-size: small;

}
.cards{
width: 100%;
}

footer{
  font-size: 50%;

  }


   form {
  padding: 20px 0;
  width: 400px;
  border-bottom: 1px black;
  margin-left: 25%;
}

.search {
  display: flex;
  outline:none;
  margin-right: 33%;
}

.search > input {
  flex-grow: 1;
  border: 0;
  padding: 0.5rem 1rem;
  font-size:x-small;
  max-width: 200px;
  height: min-content;
}

.search > input:focus {
  outline: none;
}

.search > button {
  padding: 0.8rem 2rem;
  border: 0;
  cursor: pointer;
  font-size: xx-small;
  background: #cccccc;
  height: 28px;
}
  
}

/*tablets*/

@media screen and (min-width: 471px) and (max-width: 768px) {
  header.header, ul.nav{
    display: flex;
  }
  
  header h1{
    padding: .10em;
    text-align: center;
    font-size: small;
  }
  nav{
    font-size: 0.9em;
    width: 80%;
    margin: 0 auto;
  }
  
  nav ul{
    margin: 0;
    padding: .1em;
  }
  nav li{
    background-color: black;
    border-radius: 1em;
    list-style-type: none;
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
    font-size: smaller;
  }
  div.content-box{
    margin-top: 70px;
    text-align: center;
    color: goldenrod;
    font-size: large;
  }
  footer{
    font-size: x-small;
  }

  form {
    padding: 20px 0;
    width: 500px;
    border-bottom: 1px red;
    margin-left: 25%;
    margin-top: 5%;
  }
  
  .search {
    display: flex;
    outline:none;
    margin-right: 33%;
    width: 470px;
  }
  
  .search > input {
    flex-grow: 1;
    border: 0;
    padding: 0.5rem 1rem;
    font-size: small;
    width: 500px;
    height: 50px;
  }
  
  .search > input:focus {
    outline: none;
  }
  
  .search > button {
    padding: 0.8rem 2rem;
    border: 0;
    cursor: pointer;
    font-size: x-small;
    background: #cccccc;
    height: 50px;
  }
}

/*ios tablets*/

@media screen and (min-width: 769px) and (max-width: 850px) {

body{
background-color: black;
}

header h1{
padding: .25em;
text-align: center;
font-size: x-large;
}
nav{
font-size: medium;
width: 80%;
margin: 0 auto;
}
nav ul{
margin: 0;
padding: .1em;
}
nav li{
background-color: whitesmoke;
border-radius: 1em;
list-style-type: none;
width: 100%;
margin-bottom: 1em;
text-align: center;
}
.header-img{
margin-top: 10em;
height: 10% ;
}
div.content-box{
margin-top: 70px;
text-align: center;
color: goldenrod;
font-size: large;
}

footer{
font-size: 75%;
}


form {
  padding: 20px 0;
  width: 500px;
  border-bottom: 1px red;
  margin-left: 17%;
  margin-top: 10%;
}

.search {
  display: flex;
  outline:none;
  margin-right: 33%;
  width: 550px;
}

.search > input {
  flex-grow: 1;
  border: 0;
  padding: 0.5rem 1rem;
  font-size: small;
  width: 500px;
  height: 50px;
}

.search > input:focus {
  outline: none;
}

.search > button {
  padding: 0.8rem 2rem;
  border: 0;
  cursor: pointer;
  font-size: x-small;
  background: #cccccc;
  height: 50px;
}
}